version: '3'
services:
  postgres:
    image: "postgres:18.1-alpine@sha256:4eb15de8e7b692c02427a2df278d18eb89422a534e428efb6d43c968250334d4"
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
      - ./postgres/migrations/create_tables.sql:/docker-entrypoint-initdb.d/create_tables.sql
      - ./postgres/migrations/baseline.sql:/docker-entrypoint-initdb.d/fill_tables.sql
    environment:
      - POSTGRES_DB=meetmeup_dev
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
volumes:
  db:
