version: '3'
services:
  postgres:
    image: "postgres:18.2-alpine@sha256:035b9ab53cfa147d7202b61f5f7782b939ae815b7d6bc81c96b7b42ff1fca950"
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
      - ./postgres/migrations/create_tables.sql:/docker-entrypoint-initdb.d/create_tables.sql
      - ./postgres/migrations/baseline.sql:/docker-entrypoint-initdb.d/fill_tables.sql
    environment:
      - POSTGRES_DB=meetmeup_dev
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
volumes:
  db:
