version: '3'
services:
  postgres:
    image: "postgres:18.1-alpine@sha256:aa6eb304ddb6dd26df23d05db4e5cb05af8951cda3e0dc57731b771e0ef4ab29"
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
      - ./postgres/migrations/create_tables.sql:/docker-entrypoint-initdb.d/create_tables.sql
      - ./postgres/migrations/baseline.sql:/docker-entrypoint-initdb.d/fill_tables.sql
    environment:
      - POSTGRES_DB=meetmeup_dev
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
volumes:
  db:
